$input-color: #273038;
$input-border-color: #273038;
$input-hover-border-color: rgb(39, 48, 56, 0.5);

// $fa-font-path: "~@fortawesome/fontawesome-free/webfonts";
// @import "@fortawesome/fontawesome-free/css/all.css";
@import "./bulma/sass/utilities/_all.sass";
@import "./bulma/bulma";

input:focus {
  outline: none !important;
  border-color: inherit !important;
  box-shadow: none !important;
}
button:focus {
  outline: none !important;
  box-shadow: none !important;
  border: 0 !important;
}
button {
  border: 0;
}

.steps-form {
  padding: 50px 0;

  .menu-container {
    margin-right: 20px;
    margin-bottom: auto;
  }

  .form-container {
    padding: 25px;

    .buttons {
      margin-top: 30px;
    }
  }

  .box {
    border-radius: 4px;
    -webkit-box-shadow: 6px 6px 20px -1px rgba(39, 48, 56, 0.25);
    -moz-box-shadow: 6px 6px 20px -1px rgba(39, 48, 56, 0.25);
    box-shadow: 6px 6px 20px -1px rgba(39, 48, 56, 0.25);
  }
}

.menu-container {
  &.box {
    padding: 0;
  }
}

.button {
  &.next-step {
    transition: all 0.4s;

    &:hover {
      color: #fff;
      background: #f7b452;
    }
  }
}

.title {
  color: #273038;
}

.steps-menu {
  ul {
    margin: 0;
    list-style-type: none;

    li {
      padding: 10px;
      padding-left: 20px;
      margin: 0;
      transition: all 0.3s;

      .disabled {
        opacity: 0.3;
        cursor: not-allowed;
      }

      &.is-active {
        background: #f7b452;

        a {
          color: #fff;
        }
      }

      &:last-child {
        border-bottom: none;
      }

      &:hover {
        background: #f7b452;

        a {
          color: #fff;
        }
      }

      a {
        color: #273038;
        font-size: 18px;
      }
    }
  }

  .buttons {
    margin-top: 20px;
  }
}

.menu-container {
  padding: 0;
}

.loader-wrapper {
  margin: 40px auto;
  height: 80px;
  width: 80px;
  background: #fff;
  opacity: 0;
  z-index: -1;
  transition: opacity 0.3s;
  border-radius: 6px;

  .loader {
    height: 80px;
    width: 80px;
    border: 2px solid #e5c076;
    border-right-color: transparent;
    border-top-color: transparent;
  }

  &.is-active {
    opacity: 1;
    z-index: 1;
  }
}

.box {
  padding: 15px;
}

.wrapper {
  padding: 30px 0;

  .page-title {
    margin-bottom: 30px;
  }
}

.notification {
  position: fixed;
  right: 10px;
  bottom: 10px;
  z-index: 100;
  transform: translateX(120%);
  transition: all 0.5s ease-in-out;
  background-color: #e5c076;
  color: #fff;

  &.is-active {
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    transform: translateX(0%);
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
}

.add-more-button {
  background: #e5c076;
  color: #fff;
  border: 1px solid #e5c076;
  transition: 0.3s all;

  &:hover {
    background: #fff;
    color: #273038;
  }
}

.main-menu {
  display: flex;
  height: 100%;
  align-items: center;

  li {
    margin: 0 10px;

    a {
      color: #273038;
      transition: 0.3s all;
      font-size: 18px;

      &:hover,
      &.active {
        color: #f7b452;
      }
    }
  }
}
