$input-color: #273038;
$input-border-color: #273038;
$input-hover-border-color: rgb(39, 48, 56, 0.5);

// $fa-font-path: "~@fortawesome/fontawesome-free/webfonts";
// @import "@fortawesome/fontawesome-free/css/all.css";
@import "./bulma/sass/utilities/_all.sass";
@import "./bulma/bulma";

input:focus {
  outline: none !important;
  border-color: inherit !important;
  box-shadow: none !important;
}
button:focus {
  outline: none !important;
  box-shadow: none !important;
  border: 0 !important;
}
button {
  border: 0;
}

.steps-form {
  padding: 50px 0;

  .menu-container {
    margin-right: 20px;
    margin-bottom: auto;
  }

  .form-container {
    padding: 25px;

    .buttons {
      margin-top: 30px;
    }
  }

  .box {
    border-radius: 4px;
    -webkit-box-shadow: 6px 6px 20px -1px rgba(39, 48, 56, 0.25);
    -moz-box-shadow: 6px 6px 20px -1px rgba(39, 48, 56, 0.25);
    box-shadow: 6px 6px 20px -1px rgba(39, 48, 56, 0.25);
  }
}

.button {
  &.next-step {
    transition: all 0.4s;

    &:hover {
      color: #fff;
      background: #f7b452;
    }
  }
}

.title {
  color: #273038;
}
